/* body { */
/*   background: #ffda3f; */
/* } */
.header img {
  float: left;
  width: 120px;
  height: 120px;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  font-size: 60px;
  font-family: 'DM Serif Display', serif;
  color: #9b4dca;
}

.header {
  padding-bottom: 1em;
}
.section {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left:2em;
  padding-right:2em;
}
.content {
  padding-bottom: 0.5em;
  padding-left: 0;
  padding-right: 0;
}

.footer {
  padding-top: 1em;
}

@media screen and (max-width: 600px) {
  .header img {
    float: left;
    width: 120px;
    height: 120px;
  }
  .header h1 {
    position: relative;
    font-size: 39px;
    font-family: 'DM Serif Display', serif;
    color: #9b4dca;
    margin-bottom: 60px;
  }
}

