{{ template "header" . }}
  <div class="nav">

    <p>Radsportsalat ist ein kleines Spassprojekt in dem der Twitter Username als "Seed" für 
    einen <a href="https://en.wikipedia.org/wiki/Pseudorandom_number_generator">PRNG</a> verwendet wird um ein zufälliges Setting mit zufällig verbundenen 
    Namensfragmenten aus dem Radsport für den jeweiligen User zu genieren. Dieses ist einmalig und auf diesen User zugeschnitten.</p>

  <p>Das Projekt ist mit
  <ul>
    <li><a href="https://golang.org">Golang</a></li>
    <li><a href="https://gin-gonic.com/">gin-gonic</a></li>
    <li><a href="https://milligram.io/">Milligram</a></li>
    <li><a href="https://docker.io">Docker</a></li>
    <li><a href="https://gihub.com">Github+CI</a></li>
  </ul>

  ...und weiteren Libraries / Tools geschrieben mit denen ich mich mal beschäftigen wollte.
  Wer sich für den Code interessiert, einfach via Twitter melden.<p>

  <p>Version: {{ .version }} </p>
  </div>
{{ template "footer" . }}
