{{ template "header" . }}
  <div class="nav">

    <h2>Error</h2>
    <p>Da ist was schief gelaufen.</p>
    <p>Hast du sicher deinen Twitter Handle eingetragen?</p>

  </div>

{{ template "footer" . }}
