{{define "footer"}}
  <div class="footer">
    Erstellt mit &#10084; von <a href="https://twitter.com/heilandsanremo">Heiland-Sanremo</a> (aber <a href="/about">warum?</a>)
  </div>
</div>
<body>
</html>
{{end}}
