{{ template "header" . }}
  <div class="nav">

  <script>
    function process() {
      var url = "/team/" + document.getElementById("name").value;
      location.href = url;
      return false;
    }
  </script>

  <p>Eines morgens wachst du verschwitzt auf. Du hast wild geträumt. <i>Natürlich</i> von Radsport.</p>
  <p>Dein Traum war seltsam. Fragmente der Namen, Teams und Rennen, die du sonst so gern verfolgst, kamen in deinem Unterbewusstsein komplett durcheinander.</p>

  <p>Du versuchst dich zu erinnern...</p>
  <form onSubmit="return process();">
      <label for="name">Name</label>
      <input type="text" placeholder="@twitter" id="name" name="name">
      <input class="button-primary" type="submit" value="Los!">
  </form>

  <!-- <form action="/team" method="get"> -->
  <!--     <label for="name">Zufall</label> -->
  <!--     <input class="button-primary" type="submit" value="Send"> -->
  <!-- </form> -->
  </div>

{{ template "footer" . }}
