{{ template "header" . }}
  <div class="nav">

  <p>Eines morgens wachst du verschwitzt auf. Du hast wild geträumt. <i>Natürlich</i> von Radsport.
  <p>Dein Traum war seltsam. Fragmente der Namen und Rennen, die du sonst so gern verfolgtst, kamen in deinem Unterbewusstsein komplett durcheinander.</p>
  </p>
  <form action="/team" method="get">
      <label for="name">Name</label>
      <input type="text" placeholder="@twitter" id="name" name="name">
      <input class="button-primary" type="submit" value="Los!">
  </form>

  <!-- <form action="/team" method="get"> -->
  <!--     <label for="name">Zufall</label> -->
  <!--     <input class="button-primary" type="submit" value="Send"> -->
  <!-- </form> -->
  </div>

{{ template "footer" . }}
