<head>
  <link rel="stylesheet" href="assets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
</head>
<html>
<body>
<div class="section">
  <div class="header">
    <img src="assets/green.png">
    <h1>{{ .title }}</h1>
  </div>

  <br/>

  <div class="content">
    <p>Das <b>{{ .teamName }}</b></p>
    <p>
    konnte das Rennen <b>{{ .raceName }}</b>
    </p>

    <p>
    mithilfe von <b>{{ .riderName }}</b> für sich entscheiden.
    </p>
  </div>

  <div class="footer">
    About
  </div>
</div>
<body>
</html>
