{{template "header" . }}

  <div class="content">

    <p>Du (<b>{{.handle}}</b>) hast deinen ersten Tag als <b>{{.teamFunction}}</b> von <b>{{ .teamName }}</b>
    kurz vor dem Start von <b>{{ .raceName }}</b>.
    Am Ende Rennens belegt euer Team folgende Platzierungen.
    </p>

    <p>
    <table>
      <thead>
        <tr>
          <th>Platzierung</th>
          <th>Name</th>
          <th>Fahrertyp</th>
        </tr>
      </thead>
      <tbody>
      {{range .team }}
        <tr>
          <td>{{.Position}}</td>
          <td>{{.Name }}</td>
          <td>{{.Type}}</td>
        </tr>
      {{end}}
      </tbody>
    </table>
    </p>

    <p>
    Es war ein langer Tag, das Team hat alles gegeben. <b>{{.feeling }}</b> sitzt du am Abend im Teamhotel und reflektierst den Tag.
    Dann wachst du auf.
    </p>

    <p>
    <i>Vielleicht war es in letzter Zeit doch etwas viel Radsport für dich, aber du möchtest die Erfahrung nicht missen.</i>
    </p>

  </div>

{{template "footer" . }}
